#{extends 'main.html' /}
#{set title:'Home' /}
<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Request parameter</th>
        <th>Parameter value</th>
    </tr>
    </thead>
    <tbody>
    #{list items:params.all(), as:'p' }
    <tr>
        <td>${p.key}</td>
        <td>${p.value.length == 0 ? p.value[0] : p.value.join(',')}</td>
    </tr>
    #{/list}
    </tbody>
</table>